.hamburger_menu_wrapper {
    position: relative;
  }
  
  .hamburger_menu {
    position: absolute;
    top: 3rem;
    right: 0;
    background:black;
    border: 1px solid #ccc;
    padding: 1rem;
  }
  