$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-background: #092607;
$color-primary: #F9D684;
$color-secondary: #9D6726;
$color-third: #FFAF02;
$color-fourth: #DF6641;

$color-black: #000000;
$color-white: #FFFFFF; 

$color-transparent: #0D330A;

